<div class="container">
  <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
    <app-update-genre
      [genre]="updatedGen"
      (genreUpdated)="genreUpdated($event)"
      [ajout]="ajout"
    >
      > ></app-update-genre
    >
  </div>

  <div class="card shadow mb-4">
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nom Genres</th>
          </tr>
        </thead>
        @for(cat of genres; track cat.idGen) {
        <tbody>
          <tr>
            <td>{{ cat.idGen }}</td>
            <td>{{ cat.nomGen }}</td>
            <td>
              <a class="btn btn-success" (click)="updateGen(cat)">Editer</a>
            </td>
          </tr>
        </tbody>
        }
      </table>
    </div>
  </div>
</div>
